<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart Automation" parallel="methods">
	<test name="Flipkart Test">
		<parameter name="browser" value="FF" />
		<classes>
			<class name="net.com.test.TestFlipkart"> </class>
		</classes>
	</test>
</suite>
